:root{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: cursive;
}
.container{
    max-width: 1024px;
    margin: auto;
}
.container .box-nav>a{
    font-size: 1em;
    margin-top: 200px;
    font-size: larger;
    padding: 10px;
    text-decoration: none;
    margin-left: 150px;
    margin-right: 150px;
    border-color: #06d6a0;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
    
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;

}
.text-center{
    text-align: center;
}
.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}
.text-dark{
    color:var(--dark)
}
.inline{
    display: inline-block;
}
.text-light{
    color: var(--light);
}

.text-gradient
{
    background:linear-gradient(to right,#8e2de2,#4a00e0);
    -webkit-background-clip:text;
    background-clip:text ;
    -webkit-text-fill-color:transparent;

}
#header nav{
    padding: 1em 0;
    width: 100%;
}
#site-main{
    margin-top: 1em;
}
#site-main .container .box-nav>a{
    font-size: 1em;
    margin: 1em;
    font: bold;
    padding: 2px;
    text-decoration: none;
    width: 100%;
}
#site-main .container form{
    margin: 2em;

}
.tableDiv {
    margin: 5px 20px;
    box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    padding: 60px 40px;
    border-radius: 10px;
  }
  .table {
    text-align: center;

  }

  @media only screen and(max-width:1024px) {
    table,thead,tbody,th,td,td,tr{
        display: block;
    }
    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999x;
    }
    td{
        border: none;
        position: relative;
    }
    
  }

  .addSTudent {
    box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    padding: 60px 40px;
    border-radius: 10px;
    margin: 60px 300px;
  }
  h3{
    text-align: center;
    margin-top: .5em;
    margin-bottom: -.9em;
  }
  .teacherLogin,.studentLogin {
    
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .teachForm , .studentForm{
    box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 7px 10px 17px 0px rgba(0, 0, 0, 0.73);
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 150px;
  }
  .back{
    text-decoration: none;
    border: #06d6a0;
  }
