<!-- include header -->
<%- include('partial/header')%>
    <!-- /include header -->
   <h1>We are developing Result Managemnet System</h1>
 <!-- include footer -->
<%- include('partial/footer')%>
<!-- /include footer -->