<!-- include header -->
<%- include('partial/header')%>
    <!-- /include header -->
    <main id="site-main">
        <div class="container">
            <div class="center">
                <h3>Add New Student</h3>
            </div>
            <!-- add User form -->
            <%- include('partial/form')%>
            <!-- /add User form -->
        </div>

    </main>
<!-- include footer -->
<%- include('partial/footer')%>
<!-- /include footer -->