<!-- include header -->
<%- include('partial/header')%>
    <!-- /include header -->
   <h1>Please Contact Us the given Number</h1>
 <!-- include footer -->
<%- include('partial/footer')%>
<!-- /include footer -->