<!-- include header -->
<%- include('partial/header')%>
<!-- /include header -->

<div class="container">
    <div class="box-nav d-flex justify-between">
        <a href="/teacherLogin" class="border-shadow">
            <span class="text-gradient" >
                Login Teacher
                <i class="fas fa-user"></i>
            </span>
        </a>
        <a href="/studentLogin" class="border-shadow">
            <span class="text-gradient">
                Student Login
                <i class="fas fa-user"></i>
            </span>
        </a>
    </div>
</div>

<!-- include footer -->
<%- include('partial/footer')%>
<!-- /include footer -->

