<!-- include header -->
<%- include('partial/header')%>
    <!-- /include header -->
    <main id="site-main">
        <div class="teacherLogin">
            <form method="POST" class="teachForm">
              <div class="mb-3">
                <label for="email" class="form-label">Email : </label>
                <input type="email" name="email"  class="form-control" required id="email" name="email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password : </label>
                <input type="password" name="password"  class="form-control" id="password" name="password">
                <br>
                <input type="checkbox" style="width: 30px;" onclick="myFunction()">Show Password
                <br>
              </div>
              <a><button type="submit" class="btn btn-primary mr-3" >Login</button></a>
              <a href="/" class="back">Back</a>

            </form>
          </div>
          <script>
            function myFunction() {
            var x = document.getElementById("pass");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
          </script>
    </main>
 <!-- include footer -->
<%- include('partial/footer')%>
<!-- /include footer -->